<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Habit Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div id="header"></div>
    <div class="container">
      <h1>Log in</h1>
      <form action="/signup/" method="post">
        <span style="color:red">{{login_error}}</span>
        <label> username <input type="text" name="username" value={{username}}></label>
        <br>
        <label> password <input type="password" name="password"></label>
        <br>
        <input type="submit">
      </form>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/header.js') }}"></script>
  </body>
</html>